footer.footer
    .footer__logo
        img(src='https://firebasestorage.googleapis.com/v0/b/caeq-system.appspot.com/o/caeqLogo.png?alt=media&token=520c929b-3a10-4fdd-9544-3af77a3b411f&_gl=1*10t700l*_ga*MTEwMjA4ODc2Ni4xNjk0NDY4NTQy*_ga_CW55HF8NVT*MTY5NjE4NDAxMi4zNS4xLjE2OTYxODQwNzUuNTcuMC4wg' alt='CAEQ Logo' width='200px')
    ul.footer__nav
        li: a(href=('https://www.facebook.com/ColegioDeArquitectosDelEstadoDeQueretaro')) Facebook
        li: a(href=('https://www.instagram.com/caeqro/')) Instagram
        li: a(href=('https://caeq.org/')) Sitio web
    p.footer__copyright &copy; Por Colegio de Arquitectos del Estado de Queretaro