footer.footer
    .footer__logo
    thead 
    
    ul.footer__nav
       table
  tr
    th
      a(href='https://www.facebook.com/ColegioDeArquitectosDelEstadoDeQueretaro')
        img(src='https://firebasestorage.googleapis.com/v0/b/caeq-system.appspot.com/o/circleIcos_emails%2FFacebook-48x48.png?alt=media&token=0f362adf-2cb3-439c-a244-056bec93aaac' style='height: 24px; width: 24px;')
    th
      a(href='https://www.instagram.com/caeqro/')
        img(src='https://firebasestorage.googleapis.com/v0/b/caeq-system.appspot.com/o/circleIcos_emails%2FInstagram-48x48.png?alt=media&token=1da4702c-57c7-49af-a1bf-257fd5f6f546' style='height: 24px; width: 24px;')
    th
      a(href='https://caeq.org/')
        img(src='https://firebasestorage.googleapis.com/v0/b/caeq-system.appspot.com/o/circleIcos_emails%2FWordPress-48x48.png?alt=media&token=21fa631c-ecc5-4e05-9698-c30aa33a6af7' style='height: 24px; width: 24px;')
  tr
    td
      a(href='https://www.facebook.com/ColegioDeArquitectosDelEstadoDeQueretaro') Facebook
    td
      a(href='https://www.instagram.com/caeqro/') Instagram
    td
      a(href='https://caeq.org/') Sitio web
    p.footer__copyright &copy; Por Colegio de Arquitectos del Estado de Queretaro