extends baseEmail

block content
  h2 Hola Arq. #{firstName},
  p Lo sentimos, tu perfil no ha sido verificado por los administradores. Tu solicitud de acceso ha sido rechazada.
  p - El equipo de CAEQ.