extends baseEmail

block content
    h2 Hola #{firstName},
    p Lo sentimos, tu perfil no ha sido verificado por los administradores. Tu solicitud de acceso ha sido rechazada.
    p - Equipo CAEQ.