extends baseEmail

block content
  p Hola Arq. #{firstName},
  p Lo sentimos, los datos que ingresó han sido verificados por los administradores. Los datos no coinciden con nuestro registro del número de colegiado que eligió. 
  p La solicitud de acceso ha sido rechazada. Si usted cree que esto es un error, contáctenos para recibir más información.
  p - Equipo CAEQ.