extends baseEmail

block content
  p Hola Arq. #{firstName},
  p Lo sentimos, los datos que ingresaste han sido verificados por los administradores. Los datos no coinciden con nuestro registro del número de colegiado que elegiste. 
  p La solicitud de acceso ha sido rechazada. Si usted cree que esto es un error, contáctanos para recibir más información.
  p - El equipo de CAEQ.