extends baseEmail

block content
  h2 Hola Arq. #{firstName},
  p Recibiste este correo porque solicitaste restablecer tu contraseña en el Colegio de Arquitectos del Estado de Querétaro (CAEQ).
  p Haz clic en el enlace a continuación para cambiar tu contraseña. Si no solicitaste este cambio, puedes ignorar este correo electrónico.
  p <a href="#{url}">Restablecer contraseña</a>
  p Este enlace caducará en 10 minutos.
  p Si necesitas ayuda o tienes alguna pregunta, no dudes en contactarnos.
  p ¡Gracias!
  p - El equipo de CAEQ.