extends baseEmail

block content
  h2 Hola Arq. #{firstName},
  p Recibió este correo porque solicitó restablecer su contraseña en el portal CAEQ.
  p Haga clic en el enlace a continuación para cambiar su contraseña. Si no solicitó este cambio, puede ignorar este correo electrónico.
  p <a href="#{url}">Restablecer contraseña</a>
  p Este enlace caducará en 10 minutos.
  p Si necesita ayuda o tiene alguna pregunta, no dude en contactar al colegio.
  p ¡Gracias!
  p - Equipo CAEQ.