extends baseEmail

block content
  h2 Hola Arq. #{firstName},
  p Su pago para el curso: <span style='bold'>#{courseName}</span> ha sido rechazado.
  p El motivo del rechazo es: 
  p #{message}
  p Si tiene alguna duda favor de contactar al colegio.
  