extends baseEmail

block content
  h2 Hola Arq. #{firstName},
  p Su pago para el curso: <span style='bold'>#{courseName}</span> ha sido rechazado.
  p El motivo del rechazo es: 
  p #{message}
  p Por favor, intente realizar el pago nuevamente. Si el problema persiste, comuníquese con nosotros.
  