extends baseEmail


block head
    title CAEQ | #{title='Aviso a la Comunidad CAEQ'}

block content
    p Hola Arq. #{firstName},
    p #{message}
    p - El equipo de CAEQ.
    img(src=imageUrl, alt="TextoCaeq" width="75%" height="auto")

    