extends baseEmail

block content
  p Hola Arq. #{firstName},
  P Un miembro del equipo de CAEQ ha recibido su solicitud de registro.
  p Cuando hizo su registro usó un número de colegiado ya registrado. Verificaremos la información que ingresó y le contactaremos para darle acceso al sistema.
  p - Equipo CAEQ.