extends baseEmail

block content
  p Hola Arq. #{firstName},
  P Un miembro del equipo de CAEQ ha recibido tu solicitud de registro.
  p Cuando se registr贸 us贸 un n煤mero de colegiado ya registrado. Verificaremos la informaci贸n que ingres贸 y le contactaremos para darle acceso al sistema.
  p Bienvenido a la familia del Colegio de Arquitectos del Estado de Quer茅taro (CAEQ), nos alegra que nos acompa帽es 
  p Somos una gran familia con muchos cursos y oportunidades de aprendizaje que ofrecer. Empieza revisando nuestra pagina oficial!
  p Si necesita ayuda con alguno de nuestros cursos o servicios no dude en contactarnos!
  p - El equipo de CAEQ.