extends baseEmail

block content
  p Hola Arq. #{firstName},
  p Bienvenido al portal CAEQ.
  p Un nuevo espacio de consulta informativa creado para usted, donde podrá visualizar sus datos personales y del colegio, próximas asambleas y cursos.
  p Si tiene alguna pregunta sobre nuestro portal no dude en contactarnos.
  p - Equipo CAEQ.