.courses {
    padding: 3rem;

    .courses-row { 
        display: flex;
    }

    .courses-filters { 
        justify-content: space-between;
        margin-bottom: 2rem;

        .dropdown-input { 
            background-color: #eea300;
            color: white;
            margin-right: 1rem;
        }
    }

    .box-input { 
        width: 40vw;
    }

    .courses-section { 
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .courses-pagination {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }
}