.create-course {
    padding: 1rem 3rem;

    .create-course--row {
        display: flex;
        justify-content: space-between;
    }

    .create-course--col {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .create-course--mr-3 {
        margin-right: 3rem;
    }

    .create-course--form-group {
        display: flex;
        flex-direction: column;
    }

    label, .input-label, .create-course__label-input {
        margin-top: 1.5rem;
    }

    textarea {
        min-height: 200px;
    }

    @media only screen and (max-width: 700px)  {
        padding: 1rem 1.5rem;

        .create-course--row {
            flex-direction: column;
        }
    }
}