.input-mail {
    fill: var(--ffffff-white, #FFF);
    stroke-width: 1.294px;
    stroke: var(--d-4-d-4-d-4-light-grey, #D4D4D4);
    filter: drop-shadow(0px 5.175946235656738px 5.175946235656738px rgba(0, 0, 0, 0.25)) drop-shadow(0px 5.175946235656738px 5.175946235656738px rgba(0, 0, 0, 0.25));
  }

.submit-mail {
    border-radius: 30px;
    background: #EEA300;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}