.profile {
    padding: 3rem;

    .profile-row { 
        display: flex;
        
        h1{
            margin-left: 20px;
        }
    }

@media only screen and (max-width: 1200px)  {
    .profile {

            .profile-row {
                flex-direction: column;
            
            }
        }
    }
}

@media only screen and (max-width: 700px)  {
    .profile {
        padding: 0;
        
            .profile-row {
                flex-direction: column;
    
            }

            div:first-child {
                flex-direction: column;
                align-items: start;
                
                * {
                    margin-bottom: 1rem;
                    width: 100%;
                }
    
                h1{
                    font-size: 1.7em;
                }
            }
        }
    }
