.head1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.profile-card { 
    min-height: 250px;
    width: 90svw;
    border-radius: 15px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: 4.5rem;

    .card-row {
        display: flex;
        justify-content: space-between;
        margin: 0.25rem 0;
        align-items: center;
    }
    
    .card-col {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }

    div:first-child { 
        margin-right: 0.5rem;
    }

@media only screen and (max-width: 1070px)  {
    .profile-card { 
        width: 100%;
        flex-direction: column;

        div:first-child {
            margin: 0;
        }
    }
}

}