.principal-card {

    min-height: 250px;
    width: 30vw;
    height: 50vh ;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding: 1rem;
    background: #EFF9F0;

    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    img{
        margin-top: 10px;
        width: 60px;
        height: 60px;
    }
    p{
        padding: 10px;
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
        font-weight: 600;
        word-break: keep-all;
    }
    h1{
        margin-bottom: 0px;
    }
        
    @media screen and (max-width: 1440px) {
        // Media query for screens smaller than 768px (phones)
        flex-direction: column;
        width: 100%;
        height: 450px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        p{
            font-size: 17px;
        
        }
        
    }
    @media screen and (max-width: 1024px) {
        // Media query for screens smaller than 768px (phones)
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        p{
            font-size: 17px;
        
        }
    }


    @media screen and (max-width: 435px) {
        width: fit-content;
        height: fit-content;

        p{
            font-size: 17px;
        
        }
    }
}

.principal-card:hover{
    background-color: #eea300;
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    color:  #ffffff;
    

    img{
        width:60px;
    }

    .image-profile{
        content: url('../../components/icons/ProfileIconWhite.svg')
    }
    .image-asambleas{
        content: url('../../components/icons/AsambleasIconWhite.svg')
    }
    .image-cursos{
        content: url('../../components/icons/CursosIconWhite.svg')
    }
    .image-servicios{
        content: url('../../components/icons/ServicesIconWhite.svg')
    }
    .image-beneficios{
    }
    .image-beneficios{
        content: url('../../components/icons/BenefitsIconWhite.png');
        img{
            width: 80px;
        }
    }
    
    
}