/* LogingSingup.scss */


/* Estilos para el contenedor principal */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: flex; /* Ancho máximo del contenido */
  padding: 20px;
  color: #000000; /* Color del texto dentro del contenedor */
}

/* Estilos para el logo */
.Logo {
  width: 600px;
  height: auto;
  margin-bottom: 20px;
}

/* Estilos para el título */
h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}

/* Estilos para los campos de entrada de texto */
TextInput,
HiddenTextInput {
  //width: 100%;
  //margin-bottom: 20px;
  text-align: center; /* Centra el texto dentro de los campos de entrada */
}

.forgot-register-links {
  text-align: center;
  a {
    color: #136f63;
    text-decoration: none;
    font-weight: bold;
  }
}
