
.navbar {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    // Media query for screens smaller than 768px (phones)
    display: flex;
    flex-direction: column;
  }
  
}

.navbar-center {
  display: flex;
  flex-direction: row;
  column-gap: 50px; 
  justify-content: center;

  @media screen and (max-width: 767px) {
    // Media query for screens smaller than 768px (phones)
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }
}

.navbar-button {
  align-self: flex-end; 
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    // Media query for screens smaller than 768px (phones)
    align-self:first baseline;
    row-gap: 10px;
    flex-direction: column;
  }
}

