.navbar {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.navbar-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 50px;

    button {
        flex-shrink: 1;
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        column-gap: 5px;

        button {
            font-size: 8px;
            min-width: 60px;
        }

        img {
            width: 20px;
        }
    }
}

.navbar-button {
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-end;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        // Media query for screens smaller than 768px (phones)
        align-self: first baseline;
        row-gap: 10px;
        flex-direction: column;
    }
}
