.profile {
    color: #000;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 20px;

    h1 {
        font-size: 32px;
        text-align: center;
        margin-top: 30px;
    }

    .profile-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        gap: 20px;
    }

    .profile-col {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-indent: 1px;

        span {
            font-weight: bold;
        }
    }

    .container-white {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
        text-indent: 40px;
    }

    .Attendees-row {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem;

        .year-button{
            font-size: 24px;
            margin: 1rem;
            width: 300px;
            height: 70px;
        }

        .list-data{
            font-size: 24px;
        }
    }
    

}



@media only screen and (max-width: 1200px) {
    .profile {
        .profile-row {
            flex-direction: column;
            text-indent: 30%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .profile {
        padding: 0;

        .profile-row {
            flex-direction: column;
            text-indent: 30%;
        }

        div:first-child {
            flex-direction: column;
            align-items: start;

            * {
                margin-bottom: 1rem;
                width: 100%;
            }

            h1 {
                font-size: 1.7em;
            }
        }
    }
}