.architect-detail {
    padding: 3rem;

    .architect-detail-row {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .architect-detail-col {
       width: 50%;
       
       .label-input {
            margin-top: 10px;
            
        }
       
    }

    .save-button {
    
        position: end;
        margin-top: 1rem;
    }

}