.search-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

    @media (max-width: 570px) {
        flex-direction: column;
    }

    label {
        width: 50%;
        @media (max-width: 570px) {
            width: 100%;
        }
    }
}
